<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body id="FannieZhu">
        <div class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">FannieZHU<br><br></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="Home.html">Home</a>
                        </li>
                        <li>
                            <a href="About.html">About<br></a>
                        </li>
                        <li class="active">
                            <a href="Gallery.html">Gallary</a>
                        </li>
                        <li>
                            <a href="Contacts.html">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Assignment 1</h2>
                        <p>Pythonanywhere set up:&nbsp;http://fanniezhu.pythonanywhere.com/login?next=%2F</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Assignment 2</h2>
                        <p>REST API demonstration:&nbsp;http://fanniezhu.pythonanywhere.com/list_users
                            <br>Github:&nbsp;https://github.com/Zhufangyao/Zhufangyao.github.io/tree/master/Assignment%202</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Assignment 3</h2>
                        <p class="text-left">Pick a web page(s) and scape it using Parsehub:&nbsp;https://movie.douban.com/top250?start=0&amp;filter=
                            <br>DataCollected:
                            <br>&nbsp;https://jour4046.slack.com/files/UNP30TLTA/FR2NQVA1G/run_results.csv</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Assignment 4</h2>
                        <p>A dataset that needs to be cleaned with OpenRefine:&nbsp;
                            <br>File download: https://files.slack.com/files-pri/TNA7WV62E-FPWE0908K/download/portal_rodents_19772002_scinameuuids-csv.openrefine.tar.gz</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Assignment 5</h2>
                        <p class="text-left">1. Create a bar chart using data wrapper with pre-existing or dataset
                            //datawrapper.dwcdn.net/IVsOs/1/&nbsp;
                            <br>
                            <br>2. Create a map using data wrapper with pre-existing&nbsp;or new dataset
                            https://datawrapper.dwcdn.net/s7RZ6/1/
                            <br>
                            <br>&nbsp;3. Build up airtable tables using roll-up field to produce summary
                            or aggregate data to be placed in data wrapper https://airtable.com/tblp2rzfcxKZCmz7t/viwbbUDRgMBtfyVj0?blocks=hide
                            <br>
                            <br>&nbsp;4. For map, use airtable with lat and lng columns to hold the geo
                            data co-ordinates (export the csv into data wrapper) https://airtable.com/tbl31wxvCt4rwhvsP/viwq3rVGLq3wQUCfN?blocks=hide</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-justify">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-md-6">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-twitter"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a><i class="fa fa-5x fa-fw fa-bell"></i></a>
                    </div>
                    <div class="col-xs-3 text-center">
                        <a><i class="fa fa-5x fa-fw fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>